.blog{
    height: 100vh;
    width: 100vw;
}
.blog-img{
    max-height: 300px;
}



ul{
    list-style-type: none;  
  }

  li{
      padding-bottom: 10px;
  }
  .icon-text{
      font-size: 10px;
  }
  a{
      text-decoration: none;
      color: #2F363F;
  }
  a:hover{
      text-decoration: none;
  }
  .activePage{
      color: #0A79DF;
  }
